{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            {% for table in tables %}
              {{ table|safe }}
            {% endfor %}
            <img src="{{url_for('static', filename='noisy_qubits.jpg')}}" alt="Example" width="640" height="480"/>
          </div>
        </article>
    {% endfor %}
{% endblock content %}